<!-- View do Index do Home -->
@{ ViewBag.Title = "Página Inicial"; }
<h2>@ViewBag.Title</h2>
<p>
    Bem vindo ao sistema de exemplo!
</p>
<p>
    Para começar, cliquei em <b>Efetuar Login</b> (canto superior direito) ou no menu <b>Usuários</b> (topo da tela).
</p>